<p id="notice"><%= notice %></p>

<h1>All Posts</h1>

<section class='posts col-md-12'>
  <% @posts.each do |post| %>
    <%= render partial: 'post', locals: { post: post } %>
  <% end %>
</section>

<%= link_to 'New Post', new_post_path %>
